<%- include('./includes/head') %>
<body>
    <div class="grid-div">
        <header>
            <ul class="home-list">
                <li><a class="header-link" href="/">Início</a></li>
            </ul>
            <ul class="user-list">
                <% if(user) { %>
                    <li><a class="header-link" href="/signin/logout">Sair</a></li>
                    <li><a class="header-link" href="/contact">Novo contato</a></li>
                <% } else{ %>
                    <li><a class="header-link" href="/signin">Login</a></li>
                    <li><a class="header-link" href="/signup">Criar conta</a></li>
                <% } %>
            </ul>
        </header>
        <% if(!user) { %>
            <main class="error-main">
                <div class="error-div">
                    <h1 class="index-title">Bem-vindo!</h1>
                    <p>Faça login ou crie uma conta para utilizar sua agenda.</p>
                </div>
            </main>
        <% }else{ %>
            <main>
                <h1>Agenda do <%= user.email %></h1>
                <table>
                    <thead>
                        <th>Nome</th>
                        <th>Sobrenome</th>                    
                        <th>Telefone</th>
                        <th>Email</th>
                        <th colspan="2">Ações</th>
                    </thead>
                    <tbody>
                        <% if(contacts.length === 0) { %>
                            <tr>
                                <td class="no-contacts-td">Nenhum contato cadastrado...</td>
                            </tr>
                        <% }else { %>
                            <!-- Abaixo, iremos iterar sobre os contatos obtidos através do método getContacts(): -->
                            <% contacts.forEach((contact) => { %>
                            <tr>
                                <td><%= contact.name %></td>
                                <td><%= contact.lastname %></td>
                                <td><%= contact.number %></td>
                                <td><%= contact.email %></td>
                                <form action="/contact/<%= contact._id %>" method="get">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <td class="actions"><button type="submit">Editar</button></td>
                                </form>
                                <form action="/contact/delete/<%= contact._id %>" method="post">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <td class="actions"><button type="submit">Deletar</button></td>
                                </form>
                            </tr>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
            </main>
        <% } %>
        <%- include('./includes/footer') %>
    </div>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>