<%- include('./includes/head') %>
<body>
    <div class="grid-div">
        <header>
            <ul class="home-list">
                <li><a class="header-link" href="/">Início</a></li>
            </ul>
            <ul class="user-list">
                <li><a class="header-link" href="/signin">Login</a></li>
                <li><a class="header-link" href="/signup">Criar conta</a></li>
            </ul>
        </header>
        <main class="form-main">
            <div class="form-div">
                <%- include('./includes/messages/messages') %>
                <h2>Cadastro</h2>
                <form class="register-form" action="/signup/register" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <%- include('./includes/messages/email') %>
                    <div class="input-div">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" required autocomplete="email">
                    </div>
                    <%- include('./includes/messages/password') %>
                    <div class="input-div">
                        <label for="password">Senha:</label>
                        <input type="password" name="password" id="password" required autocomplete="new-password">
                    </div>
                    <div class="input-div">
                        <label for="passwordConfirmation">Confirmar senha:</label>
                        <input type="password" name="passwordConfirmation" id="passwordConfirmation" required autocomplete="new-password">
                    </div>
                    <input class="submit-btn" type="submit" value="Criar">
                </form>
            </div>
        </main>
        <%- include('./includes/footer') %>
    </div>
    <script src="/assets/js/bundle.js"></script>
</body>
</html>